.clock {
  background-image: url("clock2.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}

#seconds {
  width: 4px;
  height: 125px;
  background: #BC0A24;
  margin: 22px 152px;
  border-radius: 20%;
  position: absolute;
  box-shadow: 1px 1px 2px;
  transform-origin: 2px bottom;
  transition: transform 1s;
   -webkit-transition: transform 1s;
}

#minutes {
  width: 4px;
  height: 125px;
  background-color: #000;
  margin: 23px 150px;
  position: absolute;
  box-shadow: 1px 1px 2px;
  border-radius: 20%;
  transform-origin: 4px bottom;
  transition: transform 1s;
   -webkit-transition: transform 1s;
}

#hours {
  width: 4px;
  height: 90px;
  background-color: #000;
  margin: 57px 150px;
  position: absolute;
  box-shadow: 1px 1px 2px;
  border-radius: 20%;
  transform-origin: 2px bottom;
}

#centro {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 139px 144px;
  position: absolute;
  background-color: #344442;
  box-shadow: 1px 1px 5px;
}

.hide {
  display: none;
     -webkit-transition: all 1.5s ease-in-out;
}

.show_hide_button,
.show_hide_button:hover {
  margin: 2em 1em;
  background-color: #3f51b5;
  color: #FFF;
  font-weight: bold;
}

.time {
  position: absolute;
  top: 310px;
  left: 60px;
  font-weight: bold;
}
